  // Validate model
  model.validate();

  // Create simulation using model and path to initial pop
  flame::sim::Simulation s(&model, pop_path);

  double start_time, stop_time, total_time;
  start_time = get_time();

  // Run simulation
  s.start((size_t)num_iters, num_cores);

  stop_time = get_time();
  total_time = stop_time - start_time;
  printf("Execution time - %d:%02d:%03d [mins:secs:msecs]\n",
           static_cast<int>(total_time/60),
           static_cast<int>(total_time) % 60,
           ((static_cast<int>(total_time * 1000.0)) % 1000));

  return 0;
}
